TFO_API_KEY_ID={{ tfo_api_key_id }}
TFO_API_KEY_SECRET={{ tfo_api_key_secret }}
TFO_COLLECTOR_HOST={{ tfo_collector_host }}
TFO_COLLECTOR_GRPC_PORT={{ tfo_collector_grpc_port }}
TFO_COLLECTOR_HTTP_PORT={{ tfo_collector_http_port }}
