DATABASE_HOST={{ tfo_backend_db_host }}
DATABASE_PORT={{ tfo_backend_db_port }}
DATABASE_NAME={{ tfo_backend_db_name }}
DATABASE_USER={{ tfo_backend_db_user }}
DATABASE_PASSWORD={{ tfo_backend_db_password }}

CLICKHOUSE_HOST={{ tfo_backend_clickhouse_host }}
CLICKHOUSE_HTTP_PORT={{ tfo_backend_clickhouse_http_port }}
CLICKHOUSE_USER={{ tfo_backend_clickhouse_user }}
CLICKHOUSE_PASSWORD={{ tfo_backend_clickhouse_password }}

REDIS_HOST={{ tfo_backend_redis_host }}
REDIS_PORT={{ tfo_backend_redis_port }}
REDIS_PASSWORD={{ tfo_backend_redis_password }}

NATS_HOST={{ tfo_backend_nats_host }}
NATS_PORT={{ tfo_backend_nats_port }}

JWT_SECRET={{ tfo_backend_jwt_secret }}
SESSION_SECRET={{ tfo_backend_session_secret }}
ENCRYPTION_KEY={{ tfo_backend_encryption_key }}
MFA_ENCRYPTION_KEY={{ tfo_backend_mfa_encryption_key }}
LLM_ENCRYPTION_KEY={{ tfo_backend_llm_encryption_key }}

ENVIRONMENT={{ environment }}
REGION={{ region }}
CLUSTER={{ cluster }}
DATACENTER={{ datacenter }}
PROVIDER={{ provider }}

LOG_LEVEL=info
