DATABASE_HOST={{ tfo_backend_db_host }}
DATABASE_PORT={{ tfo_backend_db_port }}
DATABASE_NAME={{ tfo_backend_db_name }}
DATABASE_USER={{ tfo_backend_db_user }}
DATABASE_PASSWORD={{ tfo_backend_db_password }}

CLICKHOUSE_HOST={{ tfo_backend_clickhouse_host }}
CLICKHOUSE_HTTP_PORT={{ tfo_backend_clickhouse_http_port }}
CLICKHOUSE_USER={{ tfo_backend_clickhouse_user }}
CLICKHOUSE_PASSWORD={{ tfo_backend_clickhouse_password }}

REDIS_HOST={{ tfo_backend_valkey_host }}
REDIS_PORT={{ tfo_backend_valkey_port }}
REDIS_PASSWORD={{ tfo_backend_valkey_password }}
VALKEY_HOST={{ tfo_backend_valkey_host }}
VALKEY_PORT={{ tfo_backend_valkey_port }}
VALKEY_PASSWORD={{ tfo_backend_valkey_password }}
BULLMQ_VALKEY_HOST={{ tfo_backend_valkey_host }}
BULLMQ_VALKEY_PORT={{ tfo_backend_valkey_port }}
CACHE_L2_PROVIDER=valkey

NATS_HOST={{ tfo_backend_nats_host }}
NATS_PORT={{ tfo_backend_nats_port }}
NATS_URL=nats://{{ tfo_backend_nats_host }}:{{ tfo_backend_nats_port }}

OTEL_EXPORTER_OTLP_ENDPOINT=http://{{ tfo_collector_host }}:{{ tfo_collector_http_port }}

JWT_SECRET={{ tfo_backend_jwt_secret }}
SESSION_SECRET={{ tfo_backend_session_secret }}
ENCRYPTION_KEY={{ tfo_backend_encryption_key }}
MFA_ENCRYPTION_KEY={{ tfo_backend_mfa_encryption_key }}
LLM_ENCRYPTION_KEY={{ tfo_backend_llm_encryption_key }}

ENVIRONMENT={{ environment }}
REGION={{ region }}
CLUSTER={{ cluster }}
DATACENTER={{ datacenter }}
PROVIDER={{ provider }}

LOG_LEVEL=info
